main {
    padding: 3.2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.6rem;
}

.card {
    border-radius: 1.6rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 4.8rem -1.6rem rgba(0, 0, 0, .25);
    /* padding-block: 1.6rem; */
    padding: 1.6rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    transition: .2s;
}

.card:hover {
    transform: scale(1.05);
}


.back-card-id {
    position: absolute;
    top: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9.6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.card-header-image {
    padding-inline: 1.6rem;
    display: flex;
    justify-content: center;
}

.card-header-image img {
    width: 100%;
    max-width: 9.6rem;
}

.card-main {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding-inline: 1.6rem;
    align-items: center;
    text-align: center;
}

.card-main .card-name {
    display: flex;
    align-items: center;
    column-gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card-name .pokemon-id {
    font-size: 1.2rem;
    font-weight: 400;
}

.card-name .pokemon-name {
    font-size: 2.2rem;
    font-weight: 700;
}

.card-main .card-type {
    display: flex;
    gap: .8rem;
    font-size: 1.2rem;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
}

.card-main .card-stats {
    display: flex;
    gap: 1.6rem;
}

 .stat {
    font-size: 1.3rem;
    font-weight: 400;
 }


@media screen and (max-width: 1000px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}
